@font-face {
	font-family: 'CustomFont';
	src: url('../fonts/TrajanPro-Regular.ttf') format('woff2'),
		/* Best for modern browsers */
		url('../fonts/TrajanPro-Regular.ttf') format('woff');
	/* Fallback for older browsers */
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	/* Shows fallback font until custom font loads */
}

body {
	background-image: url("../images/background/fireblu-fire.gif");

	@media (prefers-reduced-motion: reduce) {
		background-color: #F10000;
	}
}

h1 {
	font-family: 'CustomFont', sans-serif;
	color: white;
	font-size: xx-large;

	@supports (-webkit-text-stroke: 1px white) {
		-webkit-text-stroke: 0.2px white;
		-webkit-text-fill-color: blue;
	}
}

img {
	width: 100%;
}

a {
	font-family: 'CustomFont', sans-serif;
	color: orangered;
	font-size: xx-large;
}

a:hover {
	color: navajowhite;
}

.flexbox {
	display: flex;
}

.stroke {
	filter: drop-shadow(2px 2px 2px white);
}
